<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitemagic2014.dao.ActivityDao">
    <insert id="createActivity" parameterType="com.whitemagic2014.pojo.Activity">
        insert into `activity`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="activityType != null">
                `activityType`,
            </if>
            <if test="activityName != null">
                `activityName`,
            </if>
            <if test="activityRule != null">
                activityRule,
            </if>
            <if test="awardRule != null">
                awardRule,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
            <if test="enabled != null">
                enabled
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="activityType != null">
                #{activityType},
            </if>
            <if test="activityName != null">
                #{activityName},
            </if>
            <if test="activityRule != null">
                #{activityRule},
            </if>
            <if test="awardRule != null">
                #{awardRule},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="enabled != null">
                #{enabled}
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.whitemagic2014.pojo.Activity">
        UPDATE `activity` SET
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=""></if>
        </trim>
        WHERE id=#{}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM `activity` WHERE id=#{activityId}
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultType="com.whitemagic2014.pojo.Activity">
        SELECT * FROM `activity` WHERE id=#{activityId}
        <if test="valid != null and valid == true">
            AND enabled=1
            AND strftime('%Y-%m-%d', 'now', 'localtime') &gt;= startTime
            AND strftime('%Y-%m-%d', 'now', 'localtime') &lt;= endTime
        </if>
    </select>

    <select id="queryActivityList" resultType="com.whitemagic2014.pojo.Activity">
        SELECT * FROM `activity`
        <if test="valid != null and valid == true">
            where enabled=1
            AND strftime('%Y-%m-%d', 'now', 'localtime') &gt;= startTime
            AND strftime('%Y-%m-%d', 'now', 'localtime') &lt;= endTime
        </if>
    </select>

    <select id="getActivityByName" resultType="com.whitemagic2014.pojo.Activity">
        SELECT * FROM `activity` WHERE activityName=#{name}
        <if test="valid != null and valid == true">
            AND enabled=1
            AND strftime('%Y-%m-%d', 'now', 'localtime') &gt;= startTime
            AND strftime('%Y-%m-%d', 'now', 'localtime') &lt;= endTime
        </if>
    </select>

    <select id="getLastActivityId" resultType="java.lang.Long">
        SELECT id FROM `activity` ORDER BY id DESC limit 1
    </select>
</mapper>