<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitemagic2014.dao.SettingsDao">

    <select id="getSetting" resultType="com.whitemagic2014.pojo.Settings">
        select * from settings where settingName = #{settingName}
    </select>

    <insert id="insertSetting" parameterType="com.whitemagic2014.pojo.Settings">
        insert into settings(settingName, `value`) values (#{settingName}, #{value})
    </insert>

    <update id="updateSettingById" parameterType="com.whitemagic2014.pojo.Settings">
        update settings set settingName=#{settingName},`value`=#{value} where id=#{id}
    </update>

</mapper>